@model DistributedToolsServer.Models.RoomCodeAndUser
@{
    ViewData["Title"] = "Voting";
}

<h1>Voting</h1>

<div class="content">
   <p>
       Sorry, this room code is no longer valid.
       You may return to <a href="/">the main page</a> to create a new room.
   </p>
</div>

