@{
    ViewData["Title"] = "Delegation Poker";
}

<h1>Delegation Poker</h1>

<div id="users">
    Users go here
</div>

<div>
    Put the description here.
</div>

<div>
    Put the cards here.
</div>

@section Scripts {
    <script>
        init()
    </script>
}
    