@model DistributedToolsServer.Domain.User
@{
    ViewData["Title"] = "Distributed Tools";
}

@if (Model == null)
{
    <h2>Welcome</h2>
    <p>Register yourself (in the top left corner) to start or participate in one of the following activities:</p>
    <ul>
        <li>Decision Delegation Poker</li>
    </ul>
}
else
{
    <h2>Decision Delegation Poker</h2>
    <div class="create-or-join">
        <form action="/decision-delegation/create-room" method="post">
            <button>Create New Room</button>
        </form>
        <div>
            OR
        </div>
        <form action="/decision-delegation/join-room" method="post">
            <input type="text" placeholder="room code" name="roomCode" size="6"/>
            <button>Join Room</button>
        </form>
    </div>
}
