@model DistributedToolsServer.Models.RoomCodeAndUser
@{
    ViewData["Title"] = "Decision Delegation Poker";
}

<h1>Decision Delegation Poker</h1>

<div class="content">
    <p>
        Sorry, you cannot join a room until you have registered.
        Please register above in the top right, or return to <a href="/">the main page</a>.
    </p>
</div>
