@model DistributedToolsServer.Models.UserAndPath

@{
    Layout = null;
}

<div class="registered-user">
@if (Model.User == null)
{
    <form action="/register" method="post">
        <input type="text" name="name" />
        <input type="hidden" name="redirectTo" value="@Model.Path" />
        <button>Register</button>
    </form>
}
else
{
    <div>@Model.User.Name</div>
}
</div>
